.git
*~
.#*
coq/**/*.vo
**/*.class
**/*.v.d
**/*.glob
**/*.aux
sigmod-2017/paper/*.log
sigmod-2017/paper/*.out
sigmod-2017/paper/main.pdf
sigmod-2017/paper/main.synctex.gz
Makefile.coq
bin/CADa
bin/qcert
bin/qcertJS.js
bin/*.jar
bin/services/*.jar
/.project
/.README.md.html
html
.DS_Store
www/node_modules
qcert-sigmod-2017-paper-reproduction.pdf
get-reproduced-paper.sh
reproduce-paper.sh
