Makefile.coq
Makefile.coq.conf
Makefile.config
bin/qdata
bin/qcert
bin/qcertJS.js
bin/*.jar
bin/services/*.jar
bin/lib/*.jar
_build/
log/
/.project
.coqdeps.d
*~
.#*
*.vo
*.v.d
*.glob
*.aux
.DS_Store
