ul.optim-list {
    list-style: none;
    padding: 0;
}

li.optim-list {
    cursor: move;
    cursor: -webkit-grabbing;

    background: #eee;
    margin: 1px;
    padding: 5px 10px;
    font-size: 200%;
}

div.phase-optims div h3 {
    font-size: 200%;    
}

div.all-optims h3 {
    font-size: 200%;    
}

div.phase-optims div h4 {
    font-size: 150%;    
}

.sortable-ghost {
    opacity: .6;
}

.optim-handle {
    padding-right: 10px;
    cursor: move;
    cursor: -webkit-grabbing;
}

.js-remove {
    cursor: pointer;
    padding-left: 10px;
    float: right;
}

.lemma-link {
    padding-left: 10px;
    float: right;    
}
